<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124752052708-qp61673vjivon5jfc8l219m4ui10q3pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124752052708-qp61673vjivon5jfc8l219m4ui10q3pt</string>
	<key>API_KEY</key>
	<string>AIzaSyBs4Aao3ZPegmAd8SdVbotdPzvpzTnJRX0</string>
	<key>GCM_SENDER_ID</key>
	<string>124752052708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blockinity</string>
	<key>PROJECT_ID</key>
	<string>blockinity-f0eec</string>
	<key>STORAGE_BUCKET</key>
	<string>blockinity-f0eec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124752052708:ios:954917e7bff4683cb507f1</string>
	<key>DATABASE_URL</key>
	<string>https://blockinity-f0eec-default-rtdb.firebaseio.com</string>
</dict>
</plist>